{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Sponsor</h5>
    <div class="card-body">
        <p class="card-text"> Temukan review produk skincare terbaik mulai dari nama produk, brand, harga & kemasan lengkap untuk para beauty enthusiast. Buat sendiri review kamu di Female Daily.</p>
        <a href="https://femaledaily.com/category/skincare"
           class="btn btn-primary">Buka disini</a>
    </div>
</div>
</div>

{% endblock sidebar %}